/* Font Style */

@font-face { 
   font-family: 'GalaxieCopernicus-B'; 
   src: url(../font/GalaxieCopernicus-Bold.woff) format('woff');
}

@font-face { 
   font-family: 'Copernicus'; 
   src: url(../font/GalaxieCopernicus-Book.woff) format('woff');
}

@font-face { 
   font-family: 'Huge'; 
   src: url(../font/HugeGothic-Bold.woff) format('woff');
}

html, body {
   background: #F4F4F4;
   line-height: 1.5;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
}
h1 {
   font-family: 'Huge', sans-serif;
   font-size: 10.625rem;
   letter-spacing: 0rem;
   line-height: 0.99412;
   color: #fff;
}
h2 {
   font-family: 'Copernicus',serif;
   font-size: 3.5rem;
   letter-spacing: -.25rem;
   line-height: 1.25;
}
h3 {
   font-family: 'Huge',sans-serif;
   font-size: 1.375rem;
   letter-spacing: 0rem;
   line-height: .72727;
}
p {
   font-size: 18px;
   line-height: 20px;
   color: gray;
   font-family: 'Copernicus', serif;
}
button {
   outline: none;
}